{:paths ["src" "resources"]
 :deps  {metosin/malli        {:mvn/version "0.11.0"}
         cheshire/cheshire    {:mvn/version "5.11.0"}
         http-kit/http-kit    {:mvn/version "2.6.0"}
         clj-commons/clj-yaml {:mvn/version "1.0.26"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "classes" "scripts" "test" "test/resources"]
   :extra-deps
   {io.github.nextjournal/clerk             {:mvn/version "0.14.919"}
    io.github.nextjournal/clerk-slideshow   {:git/sha "977003e581d78f4f554bb8ae73f877f4070925c3"}
    org.slf4j/slf4j-nop                     {:mvn/version "2.0.7"}
    clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
    io.github.cognitect-labs/test-runner    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :app
  {:extra-paths ["app"]
   :extra-deps  {lt.jocas/malli-cli                   {:git/url "https://github.com/dainiusjocas/malli-cli"
                                                       :sha     "699de0ee5d568276c7b68baae803cdffa8770bd4"}
                 com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}}

  :test
  {:extra-paths ["scripts" "test" "test/resources"]
   :main-opts   ["-m" "esql.entrypoint"]}

  :clj-kondo
  {:main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.05.26"}}
   :jvm-opts   ["-Dclojure.main.report=stderr"]}

  :nextjournal/clerk
  {:exec-fn                   nextjournal.clerk/build!
   :exec-args                 {:paths ["docs/presentation.md"]}
   :nextjournal.clerk/aliases [:dev]}

  :build
  {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.9.2" :git/sha "9c9f078"}}
   :ns-default build}}}
